
.header-tabs {
  background-color: white;
  border-style: solid;
  border-color: black;
  padding: 8px;
}

.custom-tab {
  color: black !important;
}

.custom-tab1 {
  color: black !important;
}

.custom-tab2 {
  color: black !important;
}
.custom-tab3 {
  color: black !important;
}
.custom-tab4 {
  color: black !important;
}
.custom-tab5 {
  color: black !important;
}


.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  padding: 1rem 2rem;
  z-index: 1000;
}