
.header-tabs {
  background-color: gray;
  padding: 8px;
}

.custom-tab {
  color: purple !important;
}

.custom-tab1 {
  color: green !important;
}

.custom-tab2 {
  color: red !important;
}
.custom-tab3 {
  color: blue !important;
}
